@import './theme';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;600&display=swap');

@mixin standard_shadow {
  box-shadow: 5px 5px 5px $manatee;
}

html {
  font-family: $body-font;
  font-size: $root-font-size;
  background-color: $alice-blue;
}

#MinSplash {

  position: relative;

  display: grid;
  grid-template-areas: 
  "title menu" 
  "viewer viewer"
  "footnote footnote";

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;

  padding: 1rem;

  &__main-header {

    @include lazy_center;

    grid-area: title;

    height: 100%;

    position: relative;

    display: flex;
    align-items: center;
      
    color: $alice-blue;

    &__title-wrapper {
    
      @include lazy_center;
      
      height: 100%;

      display: flex;
      flex-direction: column;

      @include standard_shadow;

      background-color: $space-cadet;

      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      &__title {

        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;

        margin: 0;

        font-family: $main-heading-font;
        font-size: $main-heading-font-size;
        font-weight: bolder;

        text-decoration: underline;

      }

      &__subtitle {

        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;

        margin: 0;

        font-family: $body-font;
        font-size: $footnote-font-size;

        font-weight: 300;
        font-style: italic;

      }
    }

    #main-menu-button {

      position: relative;

      height: 100%;

      @include standard_shadow;

      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      display: flex;
      flex-direction: column;

      justify-content: space-around;
      align-items: center;

      background-color: $space-cadet;

      margin-left: 1px;

      height: 100%;
      width: 2rem;

      border: none;

      transition: 0.5s ease-in-out;

      &:hover {

        transform: translateX(5px);
        transition: 0.5s ease-in-out;

      }

      .menu-button-triangle {

        background-color: lighten($color: $space-cadet, $amount: 50);

        width: 30%;
        height: 10%;

        clip-path: polygon(0 0, 100% 50%, 0% 100%);

      }

      #menu-button-text {

        color: lighten($color: $space-cadet, $amount: 50);

        writing-mode: vertical-lr;
        transform: rotate(180deg);

        font-size: $footnote-font-size;
        font-weight: bold;

      }

    }

  }

  &__general-menu {

    @include lazy_center;

    justify-content: space-around;

    grid-area: menu;

  }

  #Browser__wrapper {
   
    margin-top: 1rem;
    max-width: 75rem;

    grid-area: viewer;
    
    .title-bar-wrapper {

      background-color: $manatee;
      box-shadow: inset 1px 1px 5px darken($color: $manatee, $amount: 10);

      .title-bar-text {

        color: black;

      }

      .title-bar-button-wrapper {

        .title-bar-button {

          width: 0.5rem;
          height: 0.75rem;

        }

        .title-bar-minimize {

          background-color: yellow;
          
        }

        .title-bar-maximize {
          
          background-color: green;
          
        }

        .title-bar-close {

          background-color: red;
          
        }

      }

    }

    #Browser__window {

      font-family: 'Inconsolata';
      font-weight: bolder;

      display: block;

      overflow: auto;

      grid-template-rows: 80% 20%;
      grid-template-columns: 30% 70%;

      background-color: $space-cadet;
      @include standard_shadow;

      color: $alice-blue;
      font-size: $body-font-size;

    }

    #categories-browser {

      margin-bottom: 10px;
      margin-top: 5px;

      display: flex;

      #categories-list {

        display: flex;
        flex-direction: column;

        width: 30%;

        padding-right: 5px;

        & > div {

          & > img {

            width: 10px;
            height: 10px;

          }

          & > button {

            color: $alice-blue;

            font-family: 'Inconsolata';
            font-weight: bolder;
            
            text-align: left;

            background: none;
            border: none;

          }

        }

      }

      #category-preview {

        padding-left: 5px;

        width: 70%;
      }

    }

    .terminal {

      font-weight: 300;

      & > section > input {

        color: aliceblue;
        font-family: 'Inconsolata';

      }

    }
  }
}