@import './theme';

@mixin standard_shadow {
  box-shadow: 5px 5px 5px $manatee;
}

#MinSplash {

  position: relative;

  display: grid;
  grid-template-areas: 
  "title menu" 
  "viewer viewer"
  "footnote footnote";

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px auto;

  padding: 1rem;

  &__main-header {

    @include lazy_center;

    grid-area: title;

    position: relative;

    display: flex;
    align-items: center;
      
    color: $alice-blue;

    &__title-wrapper {
    
      @include lazy_center;
      
      height: 100%;

      display: flex;
      flex-direction: column;

      @include standard_shadow;

      background-color: $space-cadet;

      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;

      &__title {

        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;

        margin: 0;

        font-family: $main-heading-font;
        font-size: $main-heading-font-size;
        font-weight: bolder;

        text-decoration: underline;

      }

      &__subtitle {

        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;

        margin: 0;

        font-family: $body-font;
        font-size: $footnote-font-size;

        font-weight: 300;
        font-style: italic;

      }
    }

    #main-menu-button {

      position: relative;

      height: 100%;

      @include standard_shadow;

      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      display: flex;
      flex-direction: column;

      justify-content: space-around;
      align-items: center;

      background-color: $space-cadet;

      margin-left: 1px;

      height: 100%;
      width: 2rem;

      border: none;

      transition: 0.5s ease-in-out;

      &:hover {

        transform: translateX(5px);
        transition: 0.5s ease-in-out;

      }

      .menu-button-triangle {

        background-color: lighten($color: $space-cadet, $amount: 50);

        width: 30%;
        height: 10%;

        clip-path: polygon(0 0, 100% 50%, 0% 100%);

      }

      #menu-button-text {

        color: lighten($color: $space-cadet, $amount: 50);

        writing-mode: vertical-lr;
        transform: rotate(180deg);

        font-size: $footnote-font-size;
        font-weight: bold;

      }

    }

  }

  &__general-menu {

    @include lazy_center;

    justify-content: space-around;

    grid-area: menu;

  }

  #Browser__wrapper {
   
    grid-area: viewer;
    
    margin-left: 0;
    margin-right: 0;
    
    #Browser__window {

      background-color: $space-cadet;
      @include standard_shadow;

      color: $alice-blue;

    }

    #categories-browser {

      display: grid;

      position: relative;

      margin-bottom: 10px;
      margin-top: 5px;

      display: flex;

      #categories-list-wrapper {

        display: flex;
        flex-direction: column;

        width: 30%;

        padding-right: 5px;

        #categories-title {

          display: flex;
          flex-direction: row;
          align-items: center;

          margin-bottom: 5px;

          & > span {

            order: 2;
            margin-left: 5px;

          }

          & > img {

            order: 1;
            width: 15px;
            height: 15px;
            filter: invert(100%) sepia(40%) saturate(2599%) hue-rotate(178deg) brightness(101%) contrast(111%);

          }

        }

        #categories-list {
        
          @include noselect;

          position: relative;
          left: 1rem;

          display: flex;
          flex-direction: column;

          list-style: none;

          
          & > li {

            position: relative;

            &:before {
              position: absolute;
              top: 50%;
              left: -0.5rem;
              width: 0.25rem;
              height: 1px;
              margin: auto;
              content: '';
              background-color: $alice-blue;
            }
            
            &:after {
              position: absolute;
              top: 0;
              bottom: 0;
              left: -0.75rem;
              width: 1px;
              height: 100%;
              content: '';
              background-color: $alice-blue;
            }

            & > a {

              & > img {

                width: 1rem;
                height: 1rem;

                margin-right: 5px;

                filter: invert(100%) sepia(40%) saturate(2599%) hue-rotate(178deg) brightness(101%) contrast(111%);

                cursor: pointer;

              }

              color: $alice-blue;

              font-family: "Inconsolata";
              font-size: 90%;
              font-weight: 500;

              text-align: left;

              margin-left: 5px;

              background: none;
              border: none;
              
              text-decoration: none;

            }

          }

        }

        & > #page-buttons{

          margin-top: 1rem;
          display: flex;

          & > button {

            padding: 5px;
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;

          }

          .view-change-button-enabled {

            background: none;
          
            cursor: pointer;

            color: $alice-blue;

            font-family: "Inconsolata";
            font-weight: 500;
            
            background-color: lighten($color: $space-cadet, $amount: 20);

            border: 3px dotted $alice-blue;

            &:hover {

              background-color: lighten($color: $space-cadet, $amount: 40);

            }
            
          }
      
          .view-change-button-disabled {

            background: none;

            color: $alice-blue;

            font-family: "Inconsolata";
            font-weight: 500;
            
            background-color: gray;

            border: 3px dotted $alice-blue;

            cursor: not-allowed;
              

          }

        }



      }

      

      #category-preview {

        padding-left: 5px;

        width: 70%;
      }

    }

    .terminal {

      font-weight: 300;

      & > span {

        & > p {

          overflow: hidden;
          white-space: nowrap;

          margin: 0;

        }

      }

      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

      & > section > input {

        color: aliceblue;
        font-family: 'Inconsolata';

      }
    }
  }
}
