@import '../../theme.scss';

.collection_preview_wrapper {
    
    display: flex;
    flex-direction: column;

    #enter-button {

      width: 90%;

      margin-top: 1rem;

      background: none;
  
      cursor: pointer;

      color: $alice-blue;

      font-family: "Inconsolata";
      font-size: 90%;
      font-weight: 500;
      
      text-align: center;

      margin-left: 5px;

      background-color: lighten($color: $space-cadet, $amount: 20);

      padding: 0.25rem;
      border: 3px dotted $alice-blue;

      &:hover {

      background-color: lighten($color: $space-cadet, $amount: 40);

      }
        
    }

}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}